h3{
    color: red;
    background-color: yellow;
    height: 80px;
    width:70%;
    text-decoration: underline;
    border: 5px solid black;
    margin: 30px;
}

p{
    color: blue;
    background-color: chartreuse;
    text-align:justify;
    text-decoration: dotted;  
    box-shadow: 10px solid pink;
    
}